@font-face
{
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face
{
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.ttf');
}

body
{
	font-family: "Lato-Bold", sans-serif;
}

/*===============HEADER===============*/
#header
{
	min-height: 100vh;
	position: relative;
}

.image 
{
  min-height: 100vh;
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.carousel-text
{
	font-size: 22px;
}

.glyph-mob-left
{
	margin-left: -50px !important;
}

.glyph-mob-right
{
	margin-right: -50px !important;
}

/*===============NAVBAR===============*/
#nav-menu-container
{
	float: left;
	top: 0;
	width: 100%;
	background-color: #60372f;
  overflow: hidden;
  position: absolute;
  font-family: "Lato-Regular", sans-serif;
  border: none;
}

#nav-menu-container .nav-menu
{
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;

}

#nav-menu-container .nav-menu .nav-item
{
	display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}

#nav-menu-container .nav-menu .nav-item 
.navbar-link
{
	display: block;
	margin: 0 0 0 1px;
	padding: 32px 20px 32px;
	color: white;
	text-decoration: none;
	font-size: 12.5px;
	text-transform: uppercase;
}

#nav-menu-container .nav-menu .nav-item 
.navbar-link:hover
{
	color: green;
}

.navbar-toggle
{
	background: url(../img/down.png);
	height: 35px;
	width: 35px;
	top: 15px;
}

/*=============AVAILABILITY=============*/
#availability
{
	min-height: auto;
	background-color: white;
	font-family: "Lato-Bold", sans-serif;
}

/*================FILTR================*/
.form-availability
{
	margin-top: 80px;
	margin-bottom: 40px;
}

.fancy-mob
{
	margin-bottom: 20px;
}

.notIE
{
	position: relative;
	display: inline-block;
}

.padding-imp
{
	padding-right: 0 !important; 
	padding-left: 0 !important;
}

select
{
	display: inline-block;
	height: 35px;
	width: 170px;
	padding: 2px 10px 2px 10px;
	outline: none;
	color: #94969a;
	border: 1px solid #C8BFC4;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px #ddd8dc;
	background: #e5e5e5;
}

select, option
{
	height: 35px;
}

.notIE .fancyArrow
{
	width: 35px;
	height: 35px;
	position: absolute;
	display: inline-block;
	right: 0;
	background: url(../img/down.png);
	pointer-events: none;
}

.styled-select
{
	width: 170px;
	float: left;
	margin-right: 30px;
	margin-top: 80px;
	margin-bottom: 40px;
	height: 35px;
	overflow: hidden;
}

.btn-submit
{
	width: 100%;
	background-color: #54555a;
	color: white;
	text-transform: uppercase;
	height: 35px;
	position: relative;
	bottom: 2px;
}

.btn-submit:hover
{
	//background-color: black;
	color: white;
}

/*===============TABLE+++++++++++++++++*/
.main-tab
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 70px;
}

.ext-tab
{
	position: relative;
}

.ext-box
{
	width: 200px;
	display: inline-block;
	height: 40px;
	position: relative;
}

.ext-box-last
{
	width: 105px;
	display: inline-block;
	height: 40px;
	position: relative;
	float: left;
}

.box
{
	display: inline-block;
	position: relative;
	height: 70px;
}

.box-last
{
	width: 105px;
	display: inline-block;
	height: 70px;
	position: relative;
}

.box-text
{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 50%;
  transform: translateY(-50%);
}

.text-short
{
	width: 50px;
	padding-left: 30px;
}

.text-shorts
{
	width: 50px;
	padding-left: 50px;
}


.text-long
{
	width: 100px;
}

.text-ext
{
	padding-left: 20px;
}

.text-exts
{
	padding-left: 50px;
}

.text-extes
{
	padding-left: 60px;
}


.icon-open
{
	display: inline-block;
	width: 20px;
	height: 50px;
	position: relative;
	top: 50%;
  transform: translateY(-50%);
}

.icon-white
{
	color: white;
}

.icon-middle
{
	padding-left: 10px;
}

.icon-last
{
	padding-left: 25px;
}

.icon-lasts
{
	padding-left: 45px;
}

.ext-tab .ext-box-last a
{
	text-decoration: none;
	cursor: pointer;
}

.tab-change
{
	display: none;
}

/*=============pagination+++++++++++++++*/
.number-pag
{
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: 15px;
	display: inline-block;
	background-color: #e5e5e5;
	color: #54555a;
}

.number-active
{
	background-color: #00a671;
	color: white;
}

.pag
{
	text-align: center;
	margin: 10px;

}

pag a
{
	text-decoration: none;
	color: white;
}

.number-pag:hover
{
	text-decoration: none;
	color: white;
}

/*=========APARTMENT-PREJECTION+++++++++*/
#apartment-projections
{
	min-height: 850px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/bg.jpg);
	margin-top: 50px;
	position: relative;
	font-family: "Lato-Bold", sans-serif;
	font-size: 17px;
	color: white;
}

.project-position
{
	margin-top: 100px;
}

.apart-box
{
	display: inline-block;
	position: relative;
	height: 35px;
	width: 270px;
	background-color: #54555a;
	margin-bottom: 30px;
}

.apart-left
{
	margin-right: 30px;
}

.apart-text
{
	text-align: center;
	line-height: 35px;
	text-transform: uppercase;
}

.apart-legend
{
	display: inline-block;
	position: relative;
	height: 380px;
	width: 570px;
	background-color: #56342c;
	margin-top: 140px;
	padding: 35px;
}

.legend-left
{
	display: inline-block;
	position: absolute;
	width: 350px;
}

.legend-circle
{
	display: inline-block;
	position: relative;
	background: #00a670;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: "Lato-Regular", sans-serif;
}

.text-legend
{
	display: inline-block;
	line-height: 30px;
}

.text-legend-left
{
	padding-bottom: 20px;
}

.text-legend-right
{
	text-align: right;
	padding-right: 30px;
}

.right-main
{
	padding-bottom: 20px;
}

.legend-right
{
	display: inline-block;
	position: absolute;
	width: 100px;
	right: 0;
}

/*============KONTAKT=====+++++++++*/
#contact
{
	min-height: 700px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/bg-contact.jpg);
	position: relative;
	font-family: "Lato-Bold", sans-serif;
	font-size: 17px;
	color: white;
}

.contact-position
{
	margin-top: 80px;
}

.contact-mail
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 51px;
	font-size: 24px;
}

.contact-title
{
	display: inline-block;
  position: relative;
  width: 265px;
  height: 45px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 3px solid #00a66f;
}

.title-text
{
	text-align: left;
  margin: 0;
  position: relative;
  top: 10px;
}

.contact-logo
{
	margin-top: 50px;
	display: inline-block;
	position: relative;
	width: 102px;
}

.logo-title
{
	display: inline-block;
	position: relative;
	width: 260px;
	vertical-align: text-top;
	margin-bottom: 50px;
}

.logo-title p
{
	color: grey;
	text-transform: uppercase;
	font-size: 14px;
	width: 140px;
	padding-left: 15px;
}

.logo-desc{}

.contact-details
{
	margin-top: 180px;
}

.contact-details p
{
	margin-bottom: 30px;
}

.form
{
	padding-top: 47px;
}

.form-groups
{
	margin-bottom: 30px;
}

.form button[type="submit"]
{
	background-color: #54555a;
	width: 100%;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
}

.form .form-groups textarea
{
	height: 200px;
}

.form-control
{
	color: black !important;

}

@media only screen and (max-width: 767px)
{
	.nav-height
	{
		height: 84px;
	}

	.glyph-mob-left
	{
		margin-left: -30px !important;
	}

	.glyph-mob-right
	{
		margin-right: -30px !important;
	}
}

@media only screen and (max-width: 479px)
{
	#nav-menu-container .nav-menu
	{
		left: 0;

	}

	#nav-menu-container .nav-menu .nav-item
	{
	  right: 0;
	  width: 100%;
	}

	.glyph-mob-left
	{
		margin-left: -10px !important;
	}

	.glyph-mob-right
	{
		margin-right: -10px !important;
	}

	.fancy-mob
	{
		//text-align: center;
	}

	.fancy-mob .notIE
	{
		width: 100%;
	}

	.fancy-mob select
	{
		width: 100%;
	}

	.fancy-mob .btn
	{
		width: 100%;
	}

	.form-availability
	{
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.main-tab
	{
		height: auto;
	}

	.box
	{
		width: 100%;
		text-align: center;
		height: 50px;
		font-size: 12px;
	}

	.box-text
	{
		top: 70%;
  	transform: translateY(-50%);
	}

	.text-long
	{
		width: auto;
	}

	.icon-open
	{
		top: 70%;
  	transform: translateY(-50%);
	}

	.ext-tab
	{
		text-align: center;
	}

	.ext-box
	{
		height: 30px;
	}

	.tab-hid
	{
		display: none;
	}

	.tab-change
	{
		display: inline-block;
		text-align: center;
		top: 15px;
	}

	.vis-mobil
	{
		display: inline-block;
		position: relative;
		background: url(../img/down.png);
		height: 35px;
		width: 35px;
	}

	#apartment-projections
	{
		min-height: 100vh;
	}

	.project-position
	{
		margin-top: 50px;
	}

	.img-mobile
	{
		width: 100%;
		margin-top: 100px;
	}

	.apart-box
	{
		width: 100%;
		background-color: #54555a;
		margin-bottom: 10px;
	}

	.apart-left
	{
		margin-right: 0;
	}

	.padding-imp5
	{
		padding-right: 5 !important; 
		padding-left: 5 !important;
	}

	.text-legends
	{
		line-height: 17px;
	}

	.apart-legend {
    display: inline-block;
    position: relative;
    height: 380px;
    width: 100%;
    background-color: #56342c;
    margin-top: 15px;
	  padding: 15px;
	  font-size: 16px;
	}

	.legend-menu
	{
		position: absolute;
		width: 91%;
	}

	#contact
	{
		min-height: 100vh;
	}
}

@media screen and (min-width:0\0)
{
	.notIE .fancyArrow
	{
		display: none;
	}


}